.modal-wrapper {
	width: 7.5rem;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 21;
	transition: opacity .2s;
}
.modal-enter, .modal-leave {
	opacity: 0;
}
.modal-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, .4);
}
.modal-content {
	position: relative;
}
.modal-content.sex {
	width: 100%;
	position: absolute;
	bottom: 0;
	transition: all .3s;
	background-color: #F0F0F0;

	& ul {
		padding: 0 .2rem;
		background-color: #FFF;
	}

	& li {
		text-align: center;
		font-size: .32rem;
		line-height: .9rem;
	}

	& li:first-child {
		border-bottom: 1px solid #EEE;
	}

	& .btn {
		height: .9rem;
		margin-top: .1rem;
		background: #FFF url(../images/close.png) no-repeat center;
		background-size: .3rem;
	}
}
.modal-enter .modal-content, .modal-leave .modal-content, .modal-enter .modal-container, .modal-leave .modal-container {
	transform: translateY(100%);
}

.modal-container {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #FFF;
	transition: all .2s;
}
.modal-btn-wrapper {
	@extend flex;

	& .btn {
		width: .8rem;
		height: .8rem;
		background: url(../images/close.png) no-repeat center;
		background-size: .32rem;
	}

	& .save {
		background-image: url(../images/save.png);
		background-size: .4rem;
	}
}

.modal-content.date {
	font-size: 0;

	& .picker-date {
		display: inline-block;
		width: 50%;
		height: 4rem;
		overflow: hidden;
	}

	& ul::-webkit-scrollbar {
		display: none;
	}

	& li {
		height: .8rem;
		text-align: center;
		font-size: .28rem;
		line-height: .8rem;
	}

	& .up, .down {
		width: 100%;
		height: 50%;
		position: absolute;
		pointer-events: none;
		background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
	}

	& .up {
		top: 0;
	}

	& .down {
		bottom: 0;
		background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
	}

	.line {
		width: 95%;
		height: .8rem;
		position: absolute;
		top: 50%;
		left: 50%;
		pointer-events: none;
		box-sizing: border-box;
		border-top: 1px solid #DCDCDC;
		border-bottom: 1px solid #DCDCDC;
		transform: translate(-50%, -50%);
	}
}